---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=addresses&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612203420271-8342762b
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"AisMLrUTDT8JtWeaaoLzZdSJ8r3Dj2jq04hlarK0Rh3yz8bvVT4ZUCmEEIGVIWuLfIaOCUzIIXB77sn0FlvstZEZxKsUO3CIjqanFLpcnVFpCi5XG5VC1Y5fRb4HK8HA67Tw6B9dXcaWzxF_lA3MymnqrITt7ZYbnn96mFQZvYZG4NF5zg2JryA0PkOW2oDaXU1bPY_3ar5Z9j88JV2T7_RTHCI7J1kHfpWeIBPSf04ZCJ1tYLOCWEKCpxRU_kTkqW8hbJcmvYQ_epVU63Vfl0yr57i9HQ4TVvaushemCmBS8QBXcc_EtZ32pDWMQ4IOZRGaCLKT6v_6IIj7YcnEGPrToGKl6j5LwKFuzUufC9KqFYiZNtjqa3fJxrG_71nS3v4b4tcaIzmgCmd6msg9sUsARutJ8Zf-nMM8ZYLIpWbYYFUzqUb0XJUI2IpcEJI6Vwlm9Kw09AlLDwLikBWaSEK_5eM7LJE4GuxiDxxzcWGmZDq8koDqrXjksKVLwY6mHJz4MrFIDfIS5_rn4aAzfNA_rk6F3JC-3OeP8ET8kg866l9kHToRLodmlfQGf8pQ9QOhzncn57ZV8MfZfetqj_Ri7eD_3DGaAWV2_AXl3oipfo38b6r3vmLVQ4vnFfU70\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"dzFR9z9pe3A4PBh6oR7L7ttWRGHWM-LoR1FJ-in6DVlLfaVboWGWP9QJ7fvLTRXA4mg5BvBtJ1i5pqXzsJuf1hwT5kWxfE9nNmCumNlsG9xoU-Xm4kg7YOckl0Gr9weCBZwy5avqBRhaWlwi98vj2UcEjHK-LZyueCcrmamaET6b6Hy8AUh6TxaExQyX-liypJM9aCDKGGMGCT3uiy06T0PJC4OkQrenekD-LRj8KUgjLA2CbeZt8FeEAbPfohTJ8wJ4YZUrdH4Lmy04M_lWoGh1ltwoClIs5mjk7VFqM3bgqVzThB4__xqRXhdF5U9YKb1QoTNOKagRcLVWwe-9h6B71wB11y0gb1J6vif29iJZrJYUW0EkXptTvdx3DYe2tsA_S2zSAm4Ytwy45_c4UimAiw8-VgOkcqTSGp8AC-MDHlKJj29FyCzzEAnpjKGGufXS7XMtNnKL6jx4hwnXkZnxsx1_-MVxB8nvzhu3PYhTo7OfkShdRwnzDgQx0sLc2JZDrYGWrqcqcXXmEdkXRQoYqnZiy2tvJeoH244rwUckHteTxzHAk3P9CSCy4-ZXGNtpPhPTp5F4nKVqKfaPZi6VMFDnuI0oRaDgmWRDRH6REvo7z6OdiMmWSLr0Nc9D0\",\r\n
        \ \"scope\": \"addresses\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 20:34:20 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses?country=US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612203420782-05a37c7f
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"sourceNumber":260,"id":1,"isPrimary":"N","streetName":"IZABEL","streetStart":230,"city":"SUNRISE","postalCode":"86004","auditStatus":"A","syncIndex":true,"country":{"value":"US","text":"United
        States"},"state":{"value":"AZ","text":"AZ"},"direction":{"value":"N","text":"N"},"streetSuffix":{"value":"ST","text":"ST"},"status":{"value":"A","text":"Active"}},{"sourceNumber":260,"id":2,"isPrimary":"N","streetName":"HUNTINGTON","streetStart":505,"city":"SUNRISE","postalCode":"86004","auditStatus":"A","syncIndex":true,"country":{"value":"US","text":"United
        States"},"state":{"value":"AZ","text":"AZ"},"direction":{"value":"E","text":"E"},"streetSuffix":{"value":"DR","text":"DR"},"status":{"value":"A","text":"Active"}},{"sourceNumber":260,"id":3,"isPrimary":"Y","streetName":"GRANT"[...]
