---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=create_record&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612234551551-91f7786e
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"mZ-l62OaT1966dQLNtgHPDRO3sD_6fmJF7M6Iu1kRRmnf8prOAeSgWI9r4hXOdGzJYHL2Fc3Ehhy92g-en70QqCTn6bxi9WhaaXvaiU7hEwxnthXS_O1iv46X4Q28cnN-W7GefMWsJ64uL_4hpV570nR-PeovM3sEJ6LxZhDYD4DO2RePlf6U9xvk9-v6gODfOh3QnEMautjOmOt4A2QeLChKhe9Yc_gx_0ugtPEl448kKBl7uCa20sQ0_ZL-BVePlIPYs4LvjtFVsSBj7KvBW9hTVXl76ky8mJ-FKKhvYJ_kXlO9sNFI8L0p_8PamBt9BPLNCdonhID_9a3_TGIS1KArFezsiOMiFW5-D2hZtCD0Xuyi_0WmnsJVZQJEIvpFx6qjO3Wf3scbb98e2_DDPtN_xW2LHw2FU-ViMSh2RTcv2TYpisEEvwYCfOJGbSZXunXp-boT1bpu5uGzX6SC_1Yf2D2ElxZR4LIH42rFZCPRD2GjHc-DR49bWdTL2x18RAJsp3KKz07TEDsYVk43hHAlM9CqQrC9eBjruhy6LnSM3F4Gs3iX9-6xJWir5Bo2jaZSUuJjpdy8VThyUn5hSWCsYCi6flw6k-T5-NwWD1A5sMY58QBrx2zanEWIB4q0\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"CxpeQEEwWLRN64BEu-bULwsB5qt2kCC1ksgOz4pVwDdiQXKLQQK_p1YCE8OQ-bXotbJ1Bzt4KdsVtLMACKmCYfqRwyalciIJkAjtIOnUssG0zkve5VJuvt5LGRescWc3_Cmgf3QSLHErr5gU5c39BumcsxdogemysJvvQj8MEqTRaRtnkECXfwxdeiNf6D00vfuTXqzEJv_-0WjGfogBkVsBXufsfhuFUwD-YboJj1R14edKja2XHrYmPh_bgxQMYpwOFxuIlbxieRdQclsx6WJTaef3ZQe64LLU9DNzsjs3G58s_Uade_CaFPHgVT0MNxSfMeDsHREIf84INKKW7aqARLraqM1Q8WonNte90Su4eeEACvv-NiNzlraltccg_IWoYIVfgci3mFULbISIr1ptiHzqNmmkoV_mcMaymneFsDG1Bqo3RfH062JE_CKke9E7Cs8eA9bNWOzB8W70XH6zJxibCPwr748mXZmDAE_0TUc5v-N4Yul6sM8eYFWxNeipcKfUQ4u4ynViLawXSPNn-wJtfXcHlKMryzHMtTsHG55-GSw47xHUKf6jnyu1e1CCJCKEQvJegWpd7zWiRuAl0-vigWDzQAa4MMrV1Ru-NnZPuousD-uZoldSJtmQ0\",\r\n
        \ \"scope\": \"create_record\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 23:45:51 GMT
- request:
    method: post
    uri: https://apis.accela.com/v4/records
    body:
      encoding: UTF-8
      string: '{"actualProductionUnit":123.43,"type":{"id":"Building-Residential-Gas-gas"}}'
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      Authorization:
      - mZ-l62OaT1966dQLNtgHPDRO3sD_6fmJF7M6Iu1kRRmnf8prOAeSgWI9r4hXOdGzJYHL2Fc3Ehhy92g-en70QqCTn6bxi9WhaaXvaiU7hEwxnthXS_O1iv46X4Q28cnN-W7GefMWsJ64uL_4hpV570nR-PeovM3sEJ6LxZhDYD4DO2RePlf6U9xvk9-v6gODfOh3QnEMautjOmOt4A2QeLChKhe9Yc_gx_0ugtPEl448kKBl7uCa20sQ0_ZL-BVePlIPYs4LvjtFVsSBj7KvBW9hTVXl76ky8mJ-FKKhvYJ_kXlO9sNFI8L0p_8PamBt9BPLNCdonhID_9a3_TGIS1KArFezsiOMiFW5-D2hZtCD0Xuyi_0WmnsJVZQJEIvpFx6qjO3Wf3scbb98e2_DDPtN_xW2LHw2FU-ViMSh2RTcv2TYpisEEvwYCfOJGbSZXunXp-boT1bpu5uGzX6SC_1Yf2D2ElxZR4LIH42rFZCPRD2GjHc-DR49bWdTL2x18RAJsp3KKz07TEDsYVk43hHAlM9CqQrC9eBjruhy6LnSM3F4Gs3iX9-6xJWir5Bo2jaZSUuJjpdy8VThyUn5hSWCsYCi6flw6k-T5-NwWD1A5sMY58QBrx2zanEWIB4q0
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612234552007-e487b5b3
    body:
      encoding: ASCII-8BIT
      string: '{"message":"EMSE Script Framework Versions<BR>EVENT TRIGGERED: ApplicationSubmitAfter<BR>SCRIPT
        EXECUTED: APPLICATIONSUBMITAFTERV3.0<BR>INCLUDE VERSION: 3.1.28<BR>SCRIPT
        VERSION : 3<BR>GLOBAL VERSION : 3<BR>**WARNING: getting project parents:  Project
        Parents Not Found: record ID: NULLISLAND-REC25-00000<BR>**WARNING: Could not
        find parent license Cap for child CAP(REC25-00000-00059): <BR><B>EMSE Script
        Results for REC25-00000-00059</B><BR>capId = class com.accela.aa.aamain.cap.CapIDModel<BR>cap
        = class com.accela.aa.emse.dom.CapScriptModel<BR>currentUserID = [...]
