---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=records+addresses&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612231248123-e771e1fc
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"mZ-l62OaT1966dQLNtgHPDvV1ZQAv-Vo8CT8BckAsiLddnO5BR-SxJo27_KxwgpsEM679PXxP1xOctRTIeoGUTJQxX6DnaL6sI7tWNksjwfenjsiuqZGHRbdrCrHTxl3fjfVBZVmXK8c_hf8bLyPu5F0kEXQLia0xLm1wQNE-YqkOMLwQy6cTwEESu6WObSrVAJKIyzfaDOaleViqBkqubbPqSkg5u5Cv6tfLMJb8_MUB8pTLcMQigKUEkPfpQokbj8uNPYflzRVJrUOxFYVAODkCgYHQ7HMzyGoFmE-OU_XUDwJF4JwaujZGTJsnWYXdDy4pWmG-cEoWwtuUu_shpEoYXPwb63WTC8VEeaUBg30U2sYn3VXcETkAO-cpSCsfHBlYiq0MAIRc47p0Q-1VaFMeUqCquKqM21KxSxUseMY-BHMHMQFG4rKS8XmxNmI2cURY05SyqbL56dUuAaeDuWqqueUxz9TrD6my5CbZlk_zAwdPpoPpqKfruDDh9eaPrIER5iqetnjkO6590XdfAxBUlwsOYNq2Jxl8GA9-2kJasPA9BTbks7IX5qQjIHmtSTDSfSgWjTcWVVCW8QBKa0_rQlhkBTPqSjArmzaTjGDM-i5J6Gpd0Q0iQiBKIA30\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"VZpkBZmjyJq7gpqMIX5JH9-MVuDF8NncO5BC8_sh8ROflkbK_PTl0Njr6GelFsBQTg2evdHr1e1SYsQsOYH2Eo4fobUql1Qi9zMbp6bWh5dum72W-iKimR-fpY6Dfcs-WxJYFq6J5GEqLrzp_J0m6CC6ZSICj8Nn97Yn2wWtDwhQnJEE7ZzwfoqDz2MEEisFIkjg6LYmn0eWSYWuzRFebB8hgYd82dsECF01KL1-HlVOqvGOOJP6N8O13Zt9ad0fWxzOcs_ICte_V1wiuJGZXZgAgpUrx-hx5cs_xidmrIA7PciRR_9jcrBYP4_Ic9M5SR7ICobUAr7FU5uwE5dsvxykG5xP02caazr0WlNudfkSmLlJdlgezI-c35SQgcPj_poDGuwf-AsXr2wtU5q4bSQI9nc-hu1OXnO5beFN1-of9Zrw39pwFCws1XeYFCB548oyxCyxLaJq2JrB94wEIVds5_WJs8VsQ4vYWcMqqMgwLc84trRCSjNE-nRHGiMLFNfqgbyOg4zTsbQkGpTHOIBeslZjvM1VGh9_SLNiVPtimUwigDu6Ns_8Ua2XQ73CthPPGqlf4vhq2tcy0lSclpnACZMgXwqRN2wFWq_nk7C3exrTszURlv2hvxaBHbWp0\",\r\n
        \ \"scope\": \"records addresses\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 23:12:48 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/NULLISLAND-REC25-00000-0004Q?expand=addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      Authorization:
      - mZ-l62OaT1966dQLNtgHPDvV1ZQAv-Vo8CT8BckAsiLddnO5BR-SxJo27_KxwgpsEM679PXxP1xOctRTIeoGUTJQxX6DnaL6sI7tWNksjwfenjsiuqZGHRbdrCrHTxl3fjfVBZVmXK8c_hf8bLyPu5F0kEXQLia0xLm1wQNE-YqkOMLwQy6cTwEESu6WObSrVAJKIyzfaDOaleViqBkqubbPqSkg5u5Cv6tfLMJb8_MUB8pTLcMQigKUEkPfpQokbj8uNPYflzRVJrUOxFYVAODkCgYHQ7HMzyGoFmE-OU_XUDwJF4JwaujZGTJsnWYXdDy4pWmG-cEoWwtuUu_shpEoYXPwb63WTC8VEeaUBg30U2sYn3VXcETkAO-cpSCsfHBlYiq0MAIRc47p0Q-1VaFMeUqCquKqM21KxSxUseMY-BHMHMQFG4rKS8XmxNmI2cURY05SyqbL56dUuAaeDuWqqueUxz9TrD6my5CbZlk_zAwdPpoPpqKfruDDh9eaPrIER5iqetnjkO6590XdfAxBUlwsOYNq2Jxl8GA9-2kJasPA9BTbks7IX5qQjIHmtSTDSfSgWjTcWVVCW8QBKa0_rQlhkBTPqSjArmzaTjGDM-i5J6Gpd0Q0iQiBKIA30
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612231248623-534a2333
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"addresses":[{"streetStart":0,"id":1006457698,"keyFieldsNull":false,"yCoordinate":18.3441,"xCoordinate":-65.72021,"addressLine1":"Luquillo,
        Puerto Rico","refAddressId":0,"city":"Luquillo","serviceProviderCode":"NULLISLAND","county":"Luquillo","isPrimary":"Y","recordId":{"id":"NULLISLAND-REC25-00000-0004Q","serviceProviderCode":"NULLISLAND","trackingId":0,"missingIdentifier":false,"value":"REC25-00000-0004Q"},"country":{"value":"PR","text":"Puerto
        Rico"},"state":{"value":"PR","text":"PR"}}],"id":"NULLISLAND-REC25-00000-0004Q","type":{"module":"Building","value":"Building/Commercial/Demolition/NA","type":"Commercial","text":"Commercial
        Demolition","group":"Building","subType":"Demolition","category":"NA","alias":"Commercial
        Demolition","id":"Building-Commercial-Demolition-NA"},"description":"Description:
        test\r\nWhat are you reporting? IGS - AccelaV4 - Commercial Demolition - Fire
        Site\r\nPlan Description: test\r\nPlan Type: Civil\r\nOneView Id: 97729\r\nDevice
        Type: Console\r\nDevice Model: Unknown\r\nAuthor First Name: Nikhil\r\nAuthor
        Last Name: Rajwar\r\nAuthor Email: nikhil.rajwar@granicus.com\r\nAuthor Telephone:
        898998989\r\nApproximate Address: Luquillo, Puerto Rico\r\nLat/Lng Coordinates:
        18.3441, -65.72021\r\nOriginationIpAddress: 172.69.152.136\r\nInitialBoundaryName:
        All Puerto Rico\r\nInitialBoundaryName: Puerto Rico East\r\n","module":"Building","status":{"value":"Submitted","text":"Submitted"},"openedDate":"2025-06-10
        00:00:00","jobValue":0.0,"recordClass":"COMPLETE","trackingId":293157876,"serviceProviderCode":"NULLISLAND","initiatedProduct":"AV360","customId":"BLD25-00120","totalJobCost":0.0,"statusDate":"2025-06-10
        23:00:43","renewalInfo":{"expirationDate":"2025-01-31 00:00:00","expirationStatus":"Pending"},"createdBy":"DEVELOPER","undistributedCost":0.0,"updateDate":"2025-06-10
        23:00:46","value":"REC25-00000-0004Q","totalFee":40.0,"totalPay":0.0,"balance":40.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false}],"status":200}'
  recorded_at: Thu, 12 Jun 2025 23:12:48 GMT
recorded_with: VCR 6.3.1
