---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=records+addresses&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612231247028-7746c1f2
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"mZ-l62OaT1966dQLNtgHPABXorGdJx1l1PBxDBF2_2aDFZGclfwBQGq5DcwrcRCi_3x3ACGJHYU21VkxrOdrMTx2EDBotvTN6J_njntXM5T0xOy6_rKoO6rey51ShXROYYR8V108ByYEbxw5onGg0UE0pcEaxfrt9PsJonjF-oTe9htlK622jPJC5o9JxlNdRdIqBDGoPxFRUmRQlINqdeSa9mMqQ9NdfKvfcIx7oIvnujCnDTFNFJ-dOhv64lfnqiYVvezO3jNvoCGuOwAZ7RpbaZcXNNqbJr-sszvDBboRhFKmp0e6-txl8PkGMSuG48xlzVNVpKA7y42sBhwzjUITtyM4l9XUrl3gMK_UaY9i_3pt7BRb8sWzub49u5zgC56GwUz7Nsv_LPIgS0xZ7dIJ-hS5_MMlnkRzAVtnDQeyabcThH2f7Pqrbne1_CBDOMkeTS-qf_ywZu23tSfebYVh91FO9PTE38VFti09_96IdroUJa18Iq3SQ8yxqT7ly5g3N11TK1_VTlTKtoNNvpi6Xmf2EeXrwRgCg2uCFlE8StirVqfapcFO7QgpU5MmaPWDAc-jkCRsI85xyOY_Xe42eTxX42-TkTG4q4VZSVDhT2ZJCfY1nKEWV52cqnVJ0\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"VZpkBZmjyJq7gpqMIX5JHxQmGYY97-TquqqKHvjia32oT6rXLCMjvLU5Nf6GbiYIqQTHp8SIOzX4acpv6G7-BzWQqQ_10IB81y6ERAfWWKItxaOkALOvccFDnzRmpFwDoPfpXyKwUMNN1J0GT1hv93tWq5lteY_EYwzZajYTuJbbPNOyil3fkOAab07m_Dl5cjM9w8lH4fOeMG_8Rso9CRrozjY2x7xnnhJIgBXrzxO8H8qNyaKsHOAQoKyWJUcQ0bq2rHnzxwSEBdUQZaQuSordojFk-pkxVZY02Cazumk6mJR39yYsozZupsPSMNBPmAFln49Rl6RH3FIQXr9CMdEyOzoXJ_rvyMzuMfS6C2Cg0UMd1JbH-vByTr-1rQv6IMUavSMBnnsCBIqzgZtyBZHMbN3clLN7dfHtn10awutK2cgXqEhCIaaChylRezuiPcu3lBVfL7cFCr61F6_beQqq1UnOj5GlMiNRIkA58iNYRLKuU2RHRXsEZe4GDVDG3llSQO1IwTJ41cNXD-tC4ZMvwHj8COPLXhWZ3IhmXHZr35O6SnhfDJoBTHVOlEwLnz3uayP2m5xJT_OB1qa11umTGzWbXENFfD12YmQHRce5CzLb80mRpoqNms6fo_Ob0\",\r\n
        \ \"scope\": \"records addresses\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 23:12:47 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/NULLISLAND-REC25-00000-0004Q,NULLISLAND-25EST-00000-00006
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      Authorization:
      - mZ-l62OaT1966dQLNtgHPABXorGdJx1l1PBxDBF2_2aDFZGclfwBQGq5DcwrcRCi_3x3ACGJHYU21VkxrOdrMTx2EDBotvTN6J_njntXM5T0xOy6_rKoO6rey51ShXROYYR8V108ByYEbxw5onGg0UE0pcEaxfrt9PsJonjF-oTe9htlK622jPJC5o9JxlNdRdIqBDGoPxFRUmRQlINqdeSa9mMqQ9NdfKvfcIx7oIvnujCnDTFNFJ-dOhv64lfnqiYVvezO3jNvoCGuOwAZ7RpbaZcXNNqbJr-sszvDBboRhFKmp0e6-txl8PkGMSuG48xlzVNVpKA7y42sBhwzjUITtyM4l9XUrl3gMK_UaY9i_3pt7BRb8sWzub49u5zgC56GwUz7Nsv_LPIgS0xZ7dIJ-hS5_MMlnkRzAVtnDQeyabcThH2f7Pqrbne1_CBDOMkeTS-qf_ywZu23tSfebYVh91FO9PTE38VFti09_96IdroUJa18Iq3SQ8yxqT7ly5g3N11TK1_VTlTKtoNNvpi6Xmf2EeXrwRgCg2uCFlE8StirVqfapcFO7QgpU5MmaPWDAc-jkCRsI85xyOY_Xe42eTxX42-TkTG4q4VZSVDhT2ZJCfY1nKEWV52cqnVJ0
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612231247490-6e49e80a
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":"NULLISLAND-25EST-00000-00006","type":{"module":"Building","value":"Building/Commercial/New/Barrel","type":"Commercial","text":"Electric
        Barrel","group":"Building","alias":"Electric Barrel","category":"Barrel","subType":"New","id":"Building-Commercial-New-Barrel"},"description":"Description:
        testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttestt45123sttesttestt45123sttesttestt45123sttesttestt45123sttesttestt45123sttesttestt45123sttesttestt451","module":"Building","createdBy":"DEVELOPER","statusDate":"2025-06-03
        21:25:34","updateDate":"2025-06-08 18:48:12","serviceProviderCode":"NULLISLAND","recordClass":"COMPLETE","initiatedProduct":"AV360","totalJobCost":0.0,"undistributedCost":0.0,"assignedToDepartment":"NULLISLANDPLUMBING","assignedUser":"APLUMBER","customId":"25EST-00000-00006","openedDate":"2025-06-03
        00:00:00","trackingId":255560688,"jobValue":0.0,"value":"25EST-00000-00006","totalFee":0.0,"totalPay":0.0,"balance":0.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false},{"id":"NULLISLAND-REC25-00000-0004Q","type":{"module":"Building","value":"Building/Commercial/Demolition/NA","type":"Commercial","text":"Commercial
        Demolition","group":"Building","alias":"Commercial Demolition","category":"NA","subType":"Demolition","id":"Building-Commercial-Demolition-NA"},"description":"Description:
        test\r\nWhat are you reporting? IGS - AccelaV4 - Commercial Demolition - Fire
        Site\r\nPlan Description: test\r\nPlan Type: Civil\r\nOneView Id: 97729\r\nDevice
        Type: Console\r\nDevice Model: Unknown\r\nAuthor First Name: Nikhil\r\nAuthor
        Last Name: Rajwar\r\nAuthor Email: nikhil.rajwar@granicus.com\r\nAuthor Telephone:
        898998989\r\nApproximate Address: Luquillo, Puerto Rico\r\nLat/Lng Coordinates:
        18.3441, -65.72021\r\nOriginationIpAddress: 172.69.152.136\r\nInitialBoundaryName:
        All Puerto Rico\r\nInitialBoundaryName: Puerto Rico East\r\n","module":"Building","status":{"value":"Submitted","text":"Submitted"},"createdBy":"DEVELOPER","statusDate":"2025-06-10
        23:00:43","updateDate":"2025-06-10 23:00:46","serviceProviderCode":"NULLISLAND","recordClass":"COMPLETE","initiatedProduct":"AV360","totalJobCost":0.0,"undistributedCost":0.0,"customId":"BLD25-00120","openedDate":"2025-06-10
        00:00:00","trackingId":293157876,"renewalInfo":{"expirationDate":"2025-01-31
        00:00:00","expirationStatus":"Pending"},"jobValue":0.0,"value":"REC25-00000-0004Q","totalFee":40.0,"totalPay":0.0,"balance":40.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false}],"status":200}'
  recorded_at: Thu, 12 Jun 2025 23:12:47 GMT
recorded_with: VCR 6.3.1
