---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=owners&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612203520693-ef586a00
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"AisMLrUTDT8JtWeaaoLzZR4q4XFGnuHeSw-7t-jJbMDrzQn0y5eeaTnmt4Vl5KBNfGK5XywkGCLfhZcV6zGpPA2aliLgifp4N4vG778_77JE7C5ZDAjMEY4an1wjN-8xei4wuLWd8BkVkkkE2Lu4_KC5AyWj9O97FdUrFKI4ZEtD-LvJ7zpNT2VTE4dT2oAXZE-py34_VcaRLksrvBQnEqWUbOjdHCNCKEMs6jGiPGiFUUEOKXazFJN3L36Oaz9cL8olmUmD0EcJ7MjWtOvyHzU6-JqnuDSszE_zxRarfSXYnN5Sbptiian2V8WcFoTtrEvTI4aEl5y10iNSx-xK6ZXs00dNc3cF5ryI6MMSmEB-50Qa79fSt_3f1LN_F9mvB6-YYL8N9DrFhDW8-1sIjaWOe0PSKsU3-K8_hBQLsVG1HPEF_jZe6bD6UXcL5jJgYMLwgoVuJLdz4XRnG87rX4oLuQ8eteHo2Z6PRaV_Dacsdw5w7sCFb0SRHlNeacLYdx-m_-r1lr14bJn-beQE_VS6hBq89ZCJO5u8b2FkcKyfyBctefr6ga40dSC-bQgvRtNO7VymkDRmNmA5KrdCHhHCwrj-NcC8CXH0X8YOd8fEbaQ56BUmWtIqR4TBccke0\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"dzFR9z9pe3A4PBh6oR7L7hgCC-qRy9rQsOuBjtBpdUuVwCIykz-rbEegiwnpkobKBI-LTSYiC73ayWgdD4NwXZwgg6yqT32j-c70-GtjMx8KN1Ux5VlX1TGYQ7YISYQaMsDz2kqOUntsIorkdI_dtLvdh-4RBCZzq6-kbo9amueTy-HUh-KjNKAG5uQOE43xs7__cYsbz2lHz04VXZlWM-bLQ0tRrfwpjWrV0gJQik3rnf6YMx9bqK-w2mB_-wI-f7YNkk495Ww7S4klXp_h2--HfYcItzVBrGNB8qymS6xAnwfViVwyLWJQ-tGyBvFhlJBY_czed6tLnCJIWX1Sc8VPUB6P6HV_IEg6D-S6cWbZOb_sFwtl-9vM2aG_eD5ckv--GiwQhFA7dRgfoZaTwfrCx-WYnrMIZui8_ywgdnPq61Q8JeE2v-Xm8MqmPRxn-U8fpg_gho47SfV9ZvRzbozus77MJAa5NN7kSpJNwylhgq2n_J9R5pBqQPVECMTJB1_syThcOSndJ-opkZdlhmcFii4TlA3y_UcGs9O567DiFFdXQCQVMm9gzSlqWQy-s2yDolaKVT8I7Ay-aPYZML_-XQlV8cz4jxMoGDzeF2U1\",\r\n
        \ \"scope\": \"owners\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 20:35:20 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/owners/4823151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      Authorization:
      - AisMLrUTDT8JtWeaaoLzZR4q4XFGnuHeSw-7t-jJbMDrzQn0y5eeaTnmt4Vl5KBNfGK5XywkGCLfhZcV6zGpPA2aliLgifp4N4vG778_77JE7C5ZDAjMEY4an1wjN-8xei4wuLWd8BkVkkkE2Lu4_KC5AyWj9O97FdUrFKI4ZEtD-LvJ7zpNT2VTE4dT2oAXZE-py34_VcaRLksrvBQnEqWUbOjdHCNCKEMs6jGiPGiFUUEOKXazFJN3L36Oaz9cL8olmUmD0EcJ7MjWtOvyHzU6-JqnuDSszE_zxRarfSXYnN5Sbptiian2V8WcFoTtrEvTI4aEl5y10iNSx-xK6ZXs00dNc3cF5ryI6MMSmEB-50Qa79fSt_3f1LN_F9mvB6-YYL8N9DrFhDW8-1sIjaWOe0PSKsU3-K8_hBQLsVG1HPEF_jZe6bD6UXcL5jJgYMLwgoVuJLdz4XRnG87rX4oLuQ8eteHo2Z6PRaV_Dacsdw5w7sCFb0SRHlNeacLYdx-m_-r1lr14bJn-beQE_VS6hBq89ZCJO5u8b2FkcKyfyBctefr6ga40dSC-bQgvRtNO7VymkDRmNmA5KrdCHhHCwrj-NcC8CXH0X8YOd8fEbaQ56BUmWtIqR4TBccke0
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Accela-Resp-Code:
      - resource_not_found
      X-Accela-Resp-Message:
      - Reference owner 4823151 cannot be found.
      X-Accela-Traceid:
      - 250612203521297-487e03c2
    body:
      encoding: UTF-8
      string: '{"status":404,"code":"resource_not_found","message":"Reference owner
        4823151 cannot be found.","traceId":"250612203521297-487e03c2"}'
  recorded_at: Thu, 12 Jun 2025 20:35:21 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/owners/515079627
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      Authorization:
      - AisMLrUTDT8JtWeaaoLzZR4q4XFGnuHeSw-7t-jJbMDrzQn0y5eeaTnmt4Vl5KBNfGK5XywkGCLfhZcV6zGpPA2aliLgifp4N4vG778_77JE7C5ZDAjMEY4an1wjN-8xei4wuLWd8BkVkkkE2Lu4_KC5AyWj9O97FdUrFKI4ZEtD-LvJ7zpNT2VTE4dT2oAXZE-py34_VcaRLksrvBQnEqWUbOjdHCNCKEMs6jGiPGiFUUEOKXazFJN3L36Oaz9cL8olmUmD0EcJ7MjWtOvyHzU6-JqnuDSszE_zxRarfSXYnN5Sbptiian2V8WcFoTtrEvTI4aEl5y10iNSx-xK6ZXs00dNc3cF5ryI6MMSmEB-50Qa79fSt_3f1LN_F9mvB6-YYL8N9DrFhDW8-1sIjaWOe0PSKsU3-K8_hBQLsVG1HPEF_jZe6bD6UXcL5jJgYMLwgoVuJLdz4XRnG87rX4oLuQ8eteHo2Z6PRaV_Dacsdw5w7sCFb0SRHlNeacLYdx-m_-r1lr14bJn-beQE_VS6hBq89ZCJO5u8b2FkcKyfyBctefr6ga40dSC-bQgvRtNO7VymkDRmNmA5KrdCHhHCwrj-NcC8CXH0X8YOd8fEbaQ56BUmWtIqR4TBccke0
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612204453189-11a71313
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"isPrimary":"Y","lastName":"TYSON","middleName":"L","firstName":"TERRI","id":515079627,"keyFieldsNull":false,"fullName":"TYSON
        TERRI L","syncIndex":true,"mailAddress":{"addressLine1":"6605 TIVERTON CIR","postalCode":"45459","city":"DAYTON","state":{"value":"OH","text":"OH"}},"address":{"addressLine1":"6605
        TIVERTON CIR","postalCode":"45459","city":"DAYTON","state":{"value":"OH","text":"OH"}},"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Thu, 12 Jun 2025 20:44:53 GMT
recorded_with: VCR 6.3.1
