---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=records+addresses&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612224320155-6b7e9b0d
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"AisMLrUTDT8JtWeaaoLzZY_Sx3TgFPWvzr_giLJHdehJOepWSY849p37YX72ysK17URFykNMkXLsxrQsLVAhvF2IEiOst14G4tOj3pRLa81PBdqDC3cC_OrB-1bwUEKAJFVTQp_couznj0bVDjFe7r_evZosqjkey8XKkc3rNT8seqzBOZKpkYzlQ0oy0CPx8iLVOcng2F9pOb7ZeVIp-FiZ3vCynBntcFpUd_XkrOvYKC3ibYEiF4yK8MCMlpbGHdiJ3L6i80ItsDQyGZKi2QVPfNmcdzxBSVpWaQaNfCNAAMPSelhej0XGn5UUZ99_deLnwULCpd5FF6r5KF7HS4JmZkEZAIxH9iIiiMTyKBzAG_LZdwEAW2J_4cuv4IAdxjlYCVRHxFGNYgQWo_XVCU7_2ySo57JHDFqOiqknxEz_SPRsUOk8ysy_0f3AikbNPCBFiCDtddit-KrN-O47ZtnoPWId7-Q63ytswW-5e-GQazYs9GiugjFkRyuA-Y9I5nIU4dxFrL5lOHXi1ESSvndJPddSjEfonwMV2FCNjwdDN9sGH_h9qLNddnu-eZHE3AavBIx_QjJ_F8QknlO_LIwAxyNr1zVKA59jwgsmztGvqkT5wQQ3k_TIdZKf35xT0\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"VZpkBZmjyJq7gpqMIX5JH8-YMW6pSGU-KxWACaotKeqdR_RHEOdJum9LEVa0pfafArF6eeX1lPwrMVxlgd4XJAcKfMTJ2cwLpzB-T3XLx-sA8bbU5EBKSDcHrI_ywQO9mUOOYsKjQqehhKV7IsUTjG4ZQtLsQqSSBhq2caxSS8CJTVz2P6fX9_5BA8to196APjjEZlbu9eRoXpR1_2tKs_eHhZzBJBFsPmRgyDUcKovfOCSfgtWFPP959G6oTMsQfYcigbLhGbtst7CFZcm-eDbBEIWwVM4qgk-epPhiWQjhc2BwJk0v-i6x7SOk-KTzaL93lIEpAHrgWyLZdkdMyb8Wg7JCBp8iCmMcnMQ7aiD8UHvOkvQHc_DqvoOtVffRYS0aOCYbajOK9RzOEhT2c-jtuUMjaljBpK1gHQ07EOCFAy59oDCB8J-v22eCnYbYPmLu2ocz5SYTluaeGbnsS1MGj8ZUW0s0J9yhHcwjqnvONcEbXTcXU2dhaaRSaIKnupyA2-wnqjjnmJWNuWf3GawuLq4p7BBK33NtAns7k3jBCXWWY0XGKn6MsJ0m5-KRXcsRtgqdZDyhQwq7-QF-THzj4gG1C6RGjPhEbay0m0sqLe6LZNfTQtyT1dXBTr3Q0\",\r\n
        \ \"scope\": \"records addresses\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 22:43:20 GMT
- request:
    method: post
    uri: https://apis.accela.com/v4/records
    body:
      encoding: UTF-8
      string: '{"addresses":[],"parcels":[],"owners":[],"contacts":[],"housingUnits":829,"type":{"id":"Building-Commercial-Addition-NA"}}'
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      Authorization:
      - AisMLrUTDT8JtWeaaoLzZY_Sx3TgFPWvzr_giLJHdehJOepWSY849p37YX72ysK17URFykNMkXLsxrQsLVAhvF2IEiOst14G4tOj3pRLa81PBdqDC3cC_OrB-1bwUEKAJFVTQp_couznj0bVDjFe7r_evZosqjkey8XKkc3rNT8seqzBOZKpkYzlQ0oy0CPx8iLVOcng2F9pOb7ZeVIp-FiZ3vCynBntcFpUd_XkrOvYKC3ibYEiF4yK8MCMlpbGHdiJ3L6i80ItsDQyGZKi2QVPfNmcdzxBSVpWaQaNfCNAAMPSelhej0XGn5UUZ99_deLnwULCpd5FF6r5KF7HS4JmZkEZAIxH9iIiiMTyKBzAG_LZdwEAW2J_4cuv4IAdxjlYCVRHxFGNYgQWo_XVCU7_2ySo57JHDFqOiqknxEz_SPRsUOk8ysy_0f3AikbNPCBFiCDtddit-KrN-O47ZtnoPWId7-Q63ytswW-5e-GQazYs9GiugjFkRyuA-Y9I5nIU4dxFrL5lOHXi1ESSvndJPddSjEfonwMV2FCNjwdDN9sGH_h9qLNddnu-eZHE3AavBIx_QjJ_F8QknlO_LIwAxyNr1zVKA59jwgsmztGvqkT5wQQ3k_TIdZKf35xT0
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612224320623-15797bf1
    body:
      encoding: ASCII-8BIT
      string: '{"message":"EMSE Script Framework Versions<BR>EVENT TRIGGERED: ApplicationSubmitAfter<BR>SCRIPT
        EXECUTED: APPLICATIONSUBMITAFTERV3.0<BR>INCLUDE VERSION: 3.1.28<BR>SCRIPT
        VERSION : 3<BR>GLOBAL VERSION : 3<BR>**WARNING: getting project parents:  Project
        Parents Not Found: record ID: NULLISLAND-REC25-00000<BR>**WARNING: Could not
        find parent license Cap for child CAP(REC25-00000-00053): <BR><B>EMSE Script
        Results for BLD25-00132</B><BR>capId = class com.accela.aa.aamain.cap.CapIDModel<BR>cap
        = class com.accela.aa.emse.dom.CapScriptModel<BR>currentUserID = DEVELO[...]
