---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=records+addresses&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612224327277-6c120356
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"AisMLrUTDT8JtWeaaoLzZbgH8EstS-MV4nCVEtCojtCJvKzMhpOod2BwyP4vfIiykhwzICHnTOxQV7D-HOR8614ojPq7_Rnl6vOnoRvsmtTdKaPiF3Pq48MVSrHExH3oRMg-yYVspb2ultxV42-R7NvJFFnpnBH5axBl8oRBPRFbdx9ZDVdeKdr3oEP5S0L7USZe0KHhoxhC72O4RsgEV3nRsU76lGmpVPCRc7H0tN_JZALENWRi0hSuI9nYUsJ23fnke77fOUQhTxIE-_r5jBoZoLecmZRT-pTTOx8_7pwWNY7MLVsJWCMPStL1T_pW9dUdt77m7Pso5FfaRBkxWDA-N8xhywLMvgo-Kq5R2rJPMqHXTR55QuKrxNWLATxmrVCRdMTLB5x_KuB7Wa8RLRYDzX2RqGwXgYrTMIMAbL9DqC3nxBW5EOzr1AgGRgYqR6HI9xdxLarfRtQyPcpNk_Jk2Iqpy60Rrn2hAAQQhxGRkntObvUNVwx2Z6-Y3H10fGsx14Y21Qx_-1U3xLHSGM1ZGY6vn6DwR-6WNn4WxJh2uu7KSC_hTCcO4jWNDaapvfUqT_AhtghTHkcBUdd6d4lQ1BrU_KAlogZlXDGT6DjlRN29ouD1o8gmOIJwnPE70\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"VZpkBZmjyJq7gpqMIX5JH1eei-jo-ktJCIr4Y21DZYzAVmXGG4CgwNbaHHKe_IzSAceES8rWhZh8LwIwk7i1DXo87CULlW5P_cy3x_ig68nx7P950Yi6K6uYWuwnovhq_52WwDTpxZC_Z7Redcucl2jtBSjEpbFw-CDCIUf984DYhfq-QqA8sSOEAVUJjdoo2sI3eBqnvgG5E7pAcI0j7zcwDNAgrUVPzy3ytN1iPL1E0_IG7hQQJ3ukhu3MfbQt7U8zmdRTpSLRwoth6TeedHurnpoZwnoCmT0zRnvRV1F11dDj9qLXHE5f5aY6eUQ9X7eC75DRegSt15KuhYLh28AhKIbBCBlOlFWFU34qphxvq9Oz34M7ceKSIieBdrE8CJF1ygvWhSN4tDC0hMu84p81rwnPnNwgRdzbfgYwmxU95h7_iHweTlv8PcqYY701rJM8HaXBIUcEQfXlouMK8ZqNP5xSfB28vtiSOjz9KsaBKeSSGUJ0VeLwHyOUpz6bTUXmvql7hIE0N-0-ychNlEsGOj7VE2OHpMCvL8oq2-sS-pjYA-BwCM11fxgWRmDQ_HYhGOt7mJ3TRdBexqoCAaJ3EUe6rYecwCIprxbEGk4F0a8WCbP4ZsMYpjR_fVuF0\",\r\n
        \ \"scope\": \"records addresses\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 22:43:27 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/NULLISLAND-REC25-00000-0004L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      Authorization:
      - AisMLrUTDT8JtWeaaoLzZbgH8EstS-MV4nCVEtCojtCJvKzMhpOod2BwyP4vfIiykhwzICHnTOxQV7D-HOR8614ojPq7_Rnl6vOnoRvsmtTdKaPiF3Pq48MVSrHExH3oRMg-yYVspb2ultxV42-R7NvJFFnpnBH5axBl8oRBPRFbdx9ZDVdeKdr3oEP5S0L7USZe0KHhoxhC72O4RsgEV3nRsU76lGmpVPCRc7H0tN_JZALENWRi0hSuI9nYUsJ23fnke77fOUQhTxIE-_r5jBoZoLecmZRT-pTTOx8_7pwWNY7MLVsJWCMPStL1T_pW9dUdt77m7Pso5FfaRBkxWDA-N8xhywLMvgo-Kq5R2rJPMqHXTR55QuKrxNWLATxmrVCRdMTLB5x_KuB7Wa8RLRYDzX2RqGwXgYrTMIMAbL9DqC3nxBW5EOzr1AgGRgYqR6HI9xdxLarfRtQyPcpNk_Jk2Iqpy60Rrn2hAAQQhxGRkntObvUNVwx2Z6-Y3H10fGsx14Y21Qx_-1U3xLHSGM1ZGY6vn6DwR-6WNn4WxJh2uu7KSC_hTCcO4jWNDaapvfUqT_AhtghTHkcBUdd6d4lQ1BrU_KAlogZlXDGT6DjlRN29ouD1o8gmOIJwnPE70
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612224327829-e8dadd9c
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":"NULLISLAND-REC25-00000-0004L","type":{"module":"Building","value":"Building/Residential/Alteration/NA","type":"Residential","text":"Residential
        Alteration","group":"Building","category":"NA","subType":"Alteration","alias":"Residential
        Alteration","id":"Building-Residential-Alteration-NA"},"description":"Description:
        test igs int\r\nSelect a Report Type: SmokeTest2\r\nOneView Id: 119968\r\nDevice
        Type: HTML5\r\nDevice Model: CitySourcedCan\r\nUser Entered Address: 50 Bannatyne
        Ave, Winnipeg, MB, R3B 3C5, CAN\r\nApproximate Address: 50 Bannatyne Ave,
        Winnipeg, Manitoba, R3B 3C5\r\nLat/Lng Coordinates: 49.89708, -97.13467\r\nUserEnteredAddress:
        50 Bannatyne Ave, Winnipeg, MB, R3B 3C5, CAN\r\nOriginationIpAddress: 127.0.0.1\r\nInitialBoundaryName:
        All Canada\r\n","module":"Building","status":{"value":"Pending","text":"Pending"},"recordClass":"COMPLETE","initiatedProduct":"AV360","serviceProviderCode":"NULLISLAND","totalJobCost":0.0,"createdBy":"DEVELOPER","statusDate":"2025-06-03
        00:00:00","updateDate":"2025-06-08 18:46:56","undistributedCost":0.0,"assignedUser":"JDOE","assignedToDepartment":"NULLISLAND-ADMIN-NA-NA-NA-NA-NA","customId":"BLD25-00117","renewalInfo":{"expirationDate":"2025-01-31
        00:00:00","expirationStatus":"Pending"},"openedDate":"2025-06-03 00:00:00","jobValue":0.0,"trackingId":233138099,"value":"REC25-00000-0004L","totalFee":40.0,"totalPay":0.0,"balance":40.0,"booking":false,"infraction":false,"misdemeanor":false,"offenseWitnessed":false,"defendantSignature":false,"publicOwned":false}],"status":200}'
  recorded_at: Thu, 12 Jun 2025 22:43:28 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/records/NULLISLAND-REC25-00000-0004L/addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      Authorization:
      - AisMLrUTDT8JtWeaaoLzZbgH8EstS-MV4nCVEtCojtCJvKzMhpOod2BwyP4vfIiykhwzICHnTOxQV7D-HOR8614ojPq7_Rnl6vOnoRvsmtTdKaPiF3Pq48MVSrHExH3oRMg-yYVspb2ultxV42-R7NvJFFnpnBH5axBl8oRBPRFbdx9ZDVdeKdr3oEP5S0L7USZe0KHhoxhC72O4RsgEV3nRsU76lGmpVPCRc7H0tN_JZALENWRi0hSuI9nYUsJ23fnke77fOUQhTxIE-_r5jBoZoLecmZRT-pTTOx8_7pwWNY7MLVsJWCMPStL1T_pW9dUdt77m7Pso5FfaRBkxWDA-N8xhywLMvgo-Kq5R2rJPMqHXTR55QuKrxNWLATxmrVCRdMTLB5x_KuB7Wa8RLRYDzX2RqGwXgYrTMIMAbL9DqC3nxBW5EOzr1AgGRgYqR6HI9xdxLarfRtQyPcpNk_Jk2Iqpy60Rrn2hAAQQhxGRkntObvUNVwx2Z6-Y3H10fGsx14Y21Qx_-1U3xLHSGM1ZGY6vn6DwR-6WNn4WxJh2uu7KSC_hTCcO4jWNDaapvfUqT_AhtghTHkcBUdd6d4lQ1BrU_KAlogZlXDGT6DjlRN29ouD1o8gmOIJwnPE70
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612224328321-dda4a7b5
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":1006457638,"addressLine1":"50 Bannatyne Ave, Winnipeg,
        R3B","yCoordinate":49.89708,"xCoordinate":-97.13467,"refAddressId":0,"houseAlphaStart":"50","streetStart":50,"keyFieldsNull":false,"streetAddress":"50
        Bannatyne Ave","postalCode":"R3B","streetName":"Bannatyne","city":"Winnipeg","isPrimary":"Y","county":"Division
        No. 11","serviceProviderCode":"NULLISLAND","recordId":{"id":"NULLISLAND-REC25-00000-0004L","trackingId":233138099,"missingIdentifier":false,"customId":"BLD25-00117","capClass":"COMPLETE","serviceProviderCode":"NULLISLAND","value":"REC25-00000-0004L"},"country":{"value":"CA","text":"Canada"},"streetSuffix":{"value":"Ave","text":"Ave"}}],"status":200}'
  recorded_at: Thu, 12 Jun 2025 22:43:28 GMT
recorded_with: VCR 6.3.1
