---
http_interactions:
- request:
    method: get
    uri: https://apis.accela.com/v4/records/1234/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612203424938-2de76e31
      X-Accela-Resp-Code:
      - no_token
      X-Accela-Resp-Message:
      - Token is required but not passed in the request.
    body:
      encoding: UTF-8
      string: '{"status":401,"code":"no_token","message":"Token is required but not
        passed in the request.","more":"Token required.","traceId":"250612203424938-2de76e31"}'
  recorded_at: Thu, 12 Jun 2025 20:34:24 GMT
recorded_with: VCR 6.3.1
