---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=parcels&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612204458899-f2b2cc69
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"AisMLrUTDT8JtWeaaoLzZaZYL0GirmYlc-dAh87ARbjlvV238x7QNM_Xhd4PUxAixW6NlBZ33sWGF7eF9ATxogZsmKnaM_dLSv_8GEt74W10AzzUWoCyUo-XvpvsRhGArZShKTKLqQUTdpy1wK7CiQAteB1VoCQ0WuW42Vidt62HBADr6-SjL1cabu8p-GfzPWm6lnIXb0qc_Xas5qF5dk3Cq58nhqP3Msji9s02vF4IOZKI4zK26aKI2ZtVj0Q3hGJJ6v4TRytd-rIL86SxmaUlxp5S6ePPKKmElrWH_ImV2FIHh7s4otUEz1Aih3r89498E0W1rehF97ZbpmqINGIdqOUSoD51yEKS-3731tL-o9z-UQRXbwlaV5RUvAwkEQ4HkkUoy-LK4q0Dc8zoXt3eRbZgKPM2nKO4GgU_qVwW_AqHifMN5eNQNtc2iOesuUFkuj4p8IG32fI1Eiejckp6K94Wki8gLcyF2yFt3-XPskCF9eOeaI_F72twTVWpV-q_36eAanqlgUybRI-6kCSBvS9Su_T-eDdmPREnaS5wCo7Ad6w4fDEXAIxwUQ3NeG9l-6uPicaQuwJcupSbFocU-x_5yBYcAGxZRS-ZHgYfADSL5bEthaFCltIXxMVR0\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"dzFR9z9pe3A4PBh6oR7L7sUrPvL--UrWJq0l7SNJAEYrhNEIwjNY5puV_a2sWH0c05S-ZPCGJ-uO3JJj1ZCpfzUxn2LEWmeVLAqFUEQairgXVCWPbaJonDYRZdWdPTvIIkfTY4hj5y94O7lIGPM9TWkQbFb6D1jCnNNP3sytCgQ9N8JuQ9I_UccoZpEJB8tiiaX8NYmQA2RchhYM69pEDRTfuDhcRyPcL_8GkcEOKDAnCxZGnpWzXBKqfyGkBRLdqxQxFq_SOL2AFPyNtf5rXSu7PeXSX-FmyF1l1bZTZWOAhE5Rw7TuK7GzBoQHeJ6SxwqNstDvnCXsKoL4O-w8x7Mq4kZ9IPBEsAV-B9jWBmEeQG0-NXJPAh6hvklC2TygnN78_BYzWuqBQXEWYQ7KxMIhErox8tzASFqf195WlHB4JZ_eol1DWygMfqCWeKDR7IHw19BRo8P4MxJ5AghKGGBnxINO9iZtypPLl4L8qz7rMu3hiEpSCZ1_TKD7jbXm7o238E78mXZkdF29vvTG5rKvlkjOIhIwDgF7p7nSznI9VSxsiaagIz8ZTNyj3HjlklPDDm3h4EfybzwvnCsQko2hux70ZYsopO6AeCP4cPklKOimHESBGrlS0wI3kYAh0\",\r\n
        \ \"scope\": \"parcels\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 20:44:59 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/parcels?isPrimary=N
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612204459358-7c14d93e
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"parcelNumber":"#123","isPrimary":"N","id":"#123","parcelArea":200.0,"status":{"value":"A","text":"Active"},"subdivision":{"value":"test","text":"test"}},{"lot":"1","block":"1","parcelNumber":"00001","isPrimary":"N","id":"00001","status":{"value":"A","text":"Active"},"subdivision":{"value":"5","text":"5"}},{"parcelNumber":"00012468","isPrimary":"N","id":"00012468","parcelArea":486.75,"status":{"value":"I","text":"Inactive"}},{"parcelNumber":"00012468-1","section":0,"isPrimary":"N","id":"00012468-1","parcelArea":486.75,"improvedValue":0.0,"exemptionValue":0.0,"gisSequenceNumber":0,"landValue":0.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"00012468-2","section":0,"isPrimary":"N","id":"00012468-2","parcelArea":486.75,"improvedValue":0.0,"exemptionValue":0.0,"gisSequenceNumber":0,"landValue":0.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"00012476","isPrimary":"N","id":"00012476","parcelArea":469.81,"status":{"value":"A","text":"Active"}},{"parcelNumber":"00012849","isPrimary":"N","id":"00012849","book":"1243","status":{"value":"A","text":"Active"}},{"parcelNumber":"00016634","isPrimary":"N","id":"00016634","planArea":"SM","status":{"value":"A","text":"Active"}},{"lot":"002,002A,003,022,024,025,026","block":"0269","parcelNumber":"002-000-001","isPrimary":"N","id":"002-000-001","legalDescription":"Existing
        Development: 5 commercial buildings Cat IV & V unreinforced masonry, of varying
        heights, containing commercial uses plus 22 rooms of residential hotel occupancy,
        all constructed between 1918 and 1927, one landmark building (#113) and one
        vacant lot","parcelArea":34660.0,"status":{"value":"A","text":"Active"}},{"parcelNumber":"00274894","isPrimary":"N","id":"00274894","status":{"value":"I","text":"Inactive"}},{"parcelNumber":"0111222333","isPrimary":"N","id":"0111222333","status":{"va[...]
