---
http_interactions:
- request:
    method: post
    uri: https://apis.accela.com/oauth2/token
    body:
      encoding: UTF-8
      string: agency_name=nullisland&client_id=638853549908464776&client_secret=4588a663f51143e69432e2734143e44b&environment=TEST&grant_type=password&password=accela&scope=addresses&username=developer
    headers:
      X-Accela-Appid:
      - '638853549908464776'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accela-Traceid:
      - 250612203421471-e24cfdc0
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"access_token\": \"AisMLrUTDT8JtWeaaoLzZaa6KfFu7VL90vd15uRIei5DHgQjgcGOXZpHg2dG8pRvtU7syXWf2le7nwWBJjEi2AA4QDk2Kb8Rp6letWNTgBoiMN-mjtbyySBLsn8d0TukpFH8trMk33RpUnbzMCg-QO0KWWQ7B_-HjNirBjyL80-yqN5Z1w6UPmxT_0j92BELH7A_MGnhm5BiAmMm9s_lyqjdW3ut4__MfRXIoHQ6GFQW0iJRYd15LujEZ1n5V_tC1YfnHIkqvlm0lK8AD7CWMuAf9f545Mm_7Qq5-iPON2Dw1VhhIInp83Z-JnaXUbAQQ_nIwC3nyoQTrgNytmuJOd9_ANQvUYbreIKUrHufYE6TvYjCNNhL4SPRLskhe_rDmCC2lrW6HAzoQxQEf9-iJbxoRqSARtzct5qqFgaynFgAVvpkYRwgK0mhtYaJi8g-8Tzq4ZA5SX5Bx2-tdZyjxmpxTTjaW4PgqZpTUkBcjQi-3XHaTSI1Zh8HSZrz8k_t9A7ZiVE_PVe2jYqtghewwDNQJFXGHprjhJCfw1kZ1HbjKz-hPgRtOfPOskRK248hcJ0rcTv_4WBHa-JROFrhXNLevg7mC1hsNHUWYtOA7aFZoYQwEDFf8C_J9BAGJcVe0\",\r\n
        \ \"token_type\": \"bearer\",\r\n  \"expires_in\": 900,\r\n  \"refresh_token\":
        \"dzFR9z9pe3A4PBh6oR7L7jhsT0BWbiGEDs4DROaam_5Mcc_TNUfGs87Pzj6mZCEt07meq1APAOMONnc6dir0x6MxHEiCD_i_Uidw-HkSuS93pLJCdC2yiN6-SEtCj95GKQClJtYDgA-M4UYGXs4vpgPb5lsP5KUCc2sD6ujGBXvXiyc0EOEVDn12F2c5YVWF22fBn4LyJ6W6n50iAkKlvcLhUYmhgASvT91moT8XTjUqHU5Cni1YQMBCavKqPTyKfBn6Egb3EiYC6K_OlyGvp4rqpmLFJnNQ1jzNHZve7gO9_dR8wM6bjI3kcrBA7aux1yg8Elo7c7W_C0N5ZAG0EFoaJ-gy9BlscqoFShjH6uVrwMKNR0bn1rrFr5Tsvu7IaOaNi-LhqBwUHHS70Y1D61iFIIxJGfw9I9N7eAePNrSa0_1TKQ0CKOyApotgCIytd3bCuF9R9k9Cd4BrH9pkZf6lSTnxrYYBdwCASm3PrjpJoVhmwBCCCCWAl9GTK2SNaMBvSZScMd9Piocm7RuVW5NwPQ5-u8K0NVzRlCmzBmRtuBzeAbCflKFL1pAczfbbhvmjAmJBnUG5A2uR8GJ3CDZ6JM7bXVdvjx5q8fygUDq2EChRd1Pq4vzKN9eJYeU40\",\r\n
        \ \"scope\": \"addresses\"\r\n}"
  recorded_at: Thu, 12 Jun 2025 20:34:22 GMT
- request:
    method: get
    uri: https://apis.accela.com/v4/addresses/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Accela-Appid:
      - '638853549908464776'
      X-Accela-Environment:
      - TEST
      X-Accela-Agency:
      - nullisland
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Accela-Traceid:
      - 250612203422487-abd2804d
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"postalCode":"86004","city":"SUNRISE","auditStatus":"A","sourceNumber":260,"streetName":"HUNTINGTON","streetStart":505,"isPrimary":"N","id":2,"syncIndex":true,"country":{"value":"US","text":"United
        States"},"state":{"value":"AZ","text":"AZ"},"direction":{"value":"E","text":"E"},"streetSuffix":{"value":"DR","text":"DR"},"status":{"value":"A","text":"Active"}},"status":200}'
  recorded_at: Thu, 12 Jun 2025 20:34:22 GMT
recorded_with: VCR 6.3.1
